

<div class="container text-white">
  <h1>Bienvenido {{email}}</h1>
  {{#if exito}}<div class="alert alert-success text-center" role="alert">
 <p class="mb-0">{{exito}}</p>
</div>{{/if}}
  


  <div class="row">

    <table class="table table-hover text-white">
    
      
      <thead>

  <tr class="text-center table-secondary">
        <th colspan="6">
          <a 
              class="btn btn-dark"
              href="/panel/autos/agregar">
            Agregar</a>
        </th>
  </tr>

        <tr class="table-secondary">
          <th scope="col">ID</th>
          <th scope="col">Marca</th>
          <th scope="col">Año</th>
          <th scope="col">Modelo</th>
          <th scope="col">Km</th>
          <th class="text-center" scope="col">Acciones</th>
        </tr>
      </thead>

      {{#each cars}}
        <tbody>
          <tr class="table-secondary">
            <th scope="row">{{ID}}</th>
            <td>{{Marca}}</td>
            <td>{{Anio}}</td>
            <td>{{Modelo}}</td>
            <td>{{Km}}</td>
            <td class="text-center">
             <a href="/panel/autos/{{ID}}/editar" class="btn btn-dark"> Editar</a>
             <a href="/panel/autos/{{ID}}/eliminar" class="btn btn-dark"> Borrar</a>
            </td>
          </tr>
        </tbody>
      {{/each}}
    </table>
  </div>
</div>
