<form class="container justify-content-center" method="post">
  <input type="hidden" id="marcaSeleccionada" {{#if formData.marca}}value="{{formData.marca}}" {{/if}}/>
  <div class="form-row text-white justify-content-center">
    <div class="form-group mb-3 mt-5 col-3 ">
      <label for="Marca">Marca</label>
      <select class="form-control" id="Marca" name="marca">
        {{#each marca}}
         <option value="{{nombre}}">{{nombre}}</option>
        {{/each}}
      </select>
    </div>


    <div class="form-group mb-3 mt-5 col-3 ">
      <label for="Anio">Año</label>
      <input type="text" class="form-control" id="anio" name="anio" {{#if formData.anio}} 
        value="{{formData.anio}}" {{/if}}>
    </div>



    <div class="form-row">
      <div class="form-group mb-3 mt-5 col-3 ">
        <label for="Modelo">Modelo</label>
        <input type="text" class="form-control" id="modelo" name="modelo" {{#if formData.modelo}}
          value="{{formData.modelo}}" {{/if}}>
      </div>

      <div class="form-row">
        <div class="form-group mb-3 mt-5 col-3 ">
          <label for="Km">Km</label>
          <input type="text" class="form-control" id="km" name="km" {{#if formData.km}} value="{{formData.km}}"{{/if}}>
        </div>
      </div>

      {{!-- <div class="form-group mt-5 mb-3 col-3 ">
        <label for="file">Subir archivo</label>
        <input type="file" class="form-control-file" id="file" name="file">
      </div> --}}
  {{#each failAlert}}
<div class="alert alert-danger mt-5 mb-3 col-3" role="alert">
  {{msg}}
</div>
  {{/each}}
      <button type="submit" class="btn btn-dark mb-3 mt-5 col-3" value="enviar">Agregar</button>
      <a href="/panel/autos" class="btn btn-danger mb-3 mt-5 col-3" value="cancelar">Cancelar</a>
</form>

<script type="text/javascript">
let valor = document.getElementById("marcaSeleccionada").value;
if (valor){
  document.getElementById("Marca").value = valor
}
</script>

